<extend name="Base/tpl" />

<block name="title">预约管理</block>
<block name="css">
		<style>
	.nav_table{margin:0px 20px;}
	.nav_table table{width:100%;}
	.nav_table th,.nav_table td{border-bottom: solid 1px #ccc;height:28px;line-height:28px;font-size:12px;}
	.nav_table th{}
	.nav_table td{padding-left:10px;}
	.nav_table td a{display: block;padding:2px;float: right;color:#535353;}
	.nav_table td a:hover{background:blue;color: #fff;}
	.over_bg{background: yellow;}
</style>
</block>
<block name="body">
<div class="nav_table">
 <table cellpadding="0" cellspacing="0">
   <tr>
		<th>编号</th>
		<th>公司名称</th>
		<!-- <th>预定人员</th> -->
		<th>预约账号</th>
		<th>项目名称</th>
		<th>预约日期</th>
		<th>预约备注</th>
		<th>状态</th>
		<th width="120px">编辑</th>
	</tr> 	
	<volist name="yues"  id="yue">
		<tr>
			<td>{$yue['bh']}</td>
			<td>{$yue['comp_name']}</td>
			<!-- <td>{$yue['user_name']}</td> -->
			<td>{$yue['bill_id']}</td>
			<td>{$yue['pro_name']}</td>
			<td>{$yue['yue_date']}</td>
			<td>{$yue['remark']}</td>
			<td class="status"><?php echo $yue['status']==1?'正常':'<font style="color:red;">弃用</font>'; ?></td>
			<td width="120px">
				<a class="delete" name="{$yue['user_name']}" para="{$yue['id']}" href="javascript:;">弃用</a>
				<!-- <a class="delete_data" name="{$yue['user_name']}" para="{$yue['id']}" href="javascript:;">删除</a> -->
			</td>
		</tr>
	</volist>
 </table>
 {$_page}
</div>
</block>

<block name="js">
<script>
$(function(){
 

	$("tr:odd").children('td').css('background','#fff');

	$("td").find('a').click(function(event) {
		var e = $(this),
			id = e.attr('para'),
			name=e.attr('name');
		if(e.hasClass('add')){
			var url= "{:U('user_edit')}";
			var index = layer.open({
				type:2,
				title:'新增导航',
				shadeClose:true,
				shade:0.2,
				area:['600px','600px'],
				offset:'100px',
				content:url
			});
		}
		if(e.hasClass('modify')){
			var url= "{:U('user_edit')}?id="+id;
			var index = layer.open({
				type:2,
				title:'编辑-'+name,
				shadeClose:true,
				shade:0.2,
				area:['600px','600px'],
				offset:'100px',
				content:url
			});
		}
		if(e.hasClass('delete')){
			if(confirm('是否确认执行 '+name+' 弃用？')){
				var url= "{:U('yueb_delete')}";
				$.ajax({
					url:url,
					type:'post',
					data:{id:id},
					datatype:'json',
					success:function(re){
						if(re.flag){
							layer.msg('弃用成功');
							e.parent().siblings(".status").html("<font style='color:red;'>弃用</font>");
						}
					},
					error:function(){
						layer.msg('弃用失败');
					}
				});
			}
			$("tr:odd").children('td').css('background','#fff');
		}
		if(e.hasClass('delete_data')){
			if(confirm('是否确认执行 '+name+' 删除？')){
				var url= "{:U('yueb_delete_data')}";
				$.ajax({
					url:url,
					type:'post',
					data:{id:id},
					datatype:'json',
					success:function(re){
						if(re.flag){
							layer.msg('删除成功');
							e.parent().siblings(".status").html("<font style='color:red;'>删除</font>");
						}
					},
					error:function(){
						layer.msg('删除失败');
					}
				});
			}
			$("tr:odd").children('td').css('background','#fff');
		}
	});
});
</script>
</block>