<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="gb2312">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <link rel="stylesheet" href="__CSS__/mobile_global.css"/>
    <link rel="stylesheet" href="__CSS__/qtzf.css"/>
    <link rel="stylesheet" href="__CSS__/qtzf_list.css"/>
	<title>{$nav_name}</title>
</head>
<body>
<div class="nav hide">
	<span class="left nav_span" onclick="history.back();">返回</span>
	<span class="nav_title">{$name}</span>
	<span class="right nav_span" onclick="location.href='{:U('index/index')}';">首页</span>
</div>
<div id="listhome4">
<div class="list">
<div id="oldlist">
	<ul>
	<notempty name="news">
		<volist name="news" id="new" key="k">
			<if condition="$k elt 20" >
				<li class="newsmore" id="{$k}"><a href="{:U('index/newsInfo')}?url={$new['url']|urlencode}">
				<div class="olditem">
				<div class="title">({$k}){$new['title']}</div> 
				</div>
				</a></li>
			<else/>
				<li class="newsmore" id="{$k}" style="display:none;"><a href="{:U('index/newsInfo')}?url={$new['url']|urlencode}">
				<div class="olditem">
				<div class="title">({$k}){$new['title']}</div> 
				</div>
				</a></li>
			</if>
		</volist>
	<else/>
		<li class="newsmore"><a href="javascript:;">
		<div class="olditem">
		<div class="title">未找到任何数据</div> 
		</div>
		</a></li>
	</notempty>	
	</ul>
</div>
</div>
</div>
<div class="load_more" para=20>加载更多>></div>

<script type="text/javascript" src="__STATIC__/jquery-1.8.3.min.js"></script>
<script>
$(".load_more").click(function(){
	var e = $(this),
		para = e.attr('para')
		tmp  = parseInt(para)+20,
		count= "{$news|count}";
		for(var i=parseInt(para) ; i<=tmp ; i++){
			if(i<count){
				$("#"+i).show();
				e.attr('para',i);
			}else{
				e.html('已经全部加载');
			}
		}
});
</script>
</body>
</html>