<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content = "width=device-width, target-densitydpi=high-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" type="text/css" href="__JS__/style.css" />  
  <title>青田县政府采购招标网</title> 
  <script language="javascript" src="__JS__/zepto.js"></script> 
  <script language="javascript" src="__JS__/fx.js"></script> 
  <script language="javascript" src="__JS__/cnvpgmu.js"></script> 
  <script language="javascript" src="__JS__/cnvpwap.js"></script> 
 </head> 
 <body class=""> 
  <div class="container" style="left: 400px; width: 640px; height: 742px;"> 
   <div class="load amn">
    <div class="loader amtn"></div>
   </div> 
   <div class="home amn"> 
    <div class="banner">
     <div class="ui-slider">
      <ul class="pic bannerpic ui-slider-group" style="width: 5760px;">
       <li style="background: rgb(88, 193, 232) url(&quot;__PUBLIC__/images/1.jpg&quot;) no-repeat scroll center top  ;background-size:100% 100%; width: 1440px; left: 0px; transition-duration: 400ms; transform: translate(-1440px, 0px) translateZ(0px);" class="ui-slider-item" data-index="0"><a href="javascript:;"></a></li>
       <li style="background: rgb(122, 179, 111) url(&quot;__PUBLIC__/images/2.jpg&quot;) no-repeat scroll center top  ;background-size:100% 100%; width: 1440px; left: -1440px; transition-duration: 400ms; transform: translate(-1440px, 0px) translateZ(0px);" class="ui-slider-item" data-index="1"><a href="javascript:;"></a></li>
       <li style="background: rgb(88, 193, 232) url(&quot;__PUBLIC__/images/3.jpg&quot;) no-repeat scroll center top ;background-size:100% 100%;width: 1440px; left: -2880px; transition-duration: 400ms; transform: translate(0px, 0px) translateZ(0px);" class="ui-slider-item" data-index="2"><a href="javascript:;"></a></li>
      </ul>
     </div>
     <ul class="btn">
     </ul>
    </div> 
    <div class="home-nav"> 
     <a href='<?php echo U('index/newsList')."?nav_name=中心动态&url=".urlencode("http://www.qtzfcg.gov.cn/zxdt/"); ?>' class="one lda"><span></span><h1>CENTER NEWS</h1><h2>中心动态</h2></a> 
     <ul class="two">
      <li><a href='<?php echo U('index/sub_link?nav_name=政府采购&pid=52'); ?>' class="lda"><b class="icon zfcg"></b><span>政府采购</span></a></li>
      <li><a href='<?php echo U('index/sub_link?nav_name=工程建设&pid=72'); ?>' class="lda"><b class="icon gcjs"></b><span>工程建设</span></a></li>
      <li class="r"><a href='<?php echo U('index/sub_link?nav_name=国有产权&pid=81'); ?>' class="lda"><b class="icon gycq"></b><span>国有产权</span></a></li>
      <li><a href='<?php echo U('index/sub_link?nav_name=土地矿产&pid=86'); ?>' class="lda"><b class="icon tdkc"></b><span>土地矿产</span></a></li>
      <li><a href='<?php echo U('index/xieyi?nav_name=供货协议'); ?>' class="lda"><b class="icon ghxy"></b><span>协议供货</span></a></li>
      <li><a href='<?php echo U('index/sub_link?nav_name=代理公司&pid=104'); ?>' class="lda"><b class="icon dlgs"></b><span>代理公司</span></a></li>
      <li class="r" style="display:none;">
       <dl>
        <dd></dd>
        <dd></dd>
        <dd class="rd"></dd>
       </dl></li>
     </ul> 
     <a href='<?php echo U('index/newsQuery');?>' class="one one1 lda"><span></span><h1>QUERY</h1><h2>信息检索</h2></a> 
     <ul class="two two1">
      <li><a href='<?php echo U('index/newsList')."?nav_name=开标提示&url=".urlencode("http://www.qtzfcg.gov.cn/zxdt/bzkb/"); ?>' class="lda"><b class="icon kbts"></b><span>开标提示</span></a></li>
      <li><a href='<?php echo U('index/newsList')."?nav_name=理论实践&url=".urlencode("http://www.qtzfcg.gov.cn/hdpt/llsj/"); ?>' class="lda"><b class="icon alfx"></b><span>理论实践</span></a></li>
      <li class="r"><a href='<?php echo U('index/sub_link?nav_name=咨询答疑&pid=124'); ?>' class="lda"><b class="icon zxdy"></b><span>咨询答疑</span></a></li>
     </ul> 
     <a href='<?php echo U('index/sub_link?nav_name=预约服务&pid=117'); ?>' class="one one2 lda"><span></span><h1>SERVICE</h1><h2>预约服务</h2></a> 
     <a href='<?php echo U('index/sub_link?nav_name=政府信息公开&pid=109'); ?>' class="one one3 lda"><span></span><h1>PUBLIC</h1><h2>政府信息公开</h2></a> 
    </div> 
   </div> 
  </div>   
 </body>
</html>