<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gb2312">
    <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <link rel="stylesheet" href="__CSS__/mobile_global.css"/>
    <link rel="stylesheet" href="__CSS__/qtzf.css"/>
    <link rel="stylesheet" href="__CSS__/qtzf_list.css"/>
    <style type="text/css">
    #oldlist{padding:10px 10px 10px 10px;}
    #oldlist p{display:block;height:30px;padding:10px 0px;}
    #oldlist p span{width:20%;padding-right:10px;}
    input[type=text] ,input[type=date],select{height:40px;line-height: 40px;border-radius: 2px;width:100%;border:solid 1px #ccc;padding-left:15px;background: #fff;}
    #oldlist p input[type=text]{}
    .a_btn{display:block;height:30px;line-height:30px;background:rgb(160,213,103);border-radius: 2px;color: #fff;text-decoration: none;width:106%;margin:0 auto;padding:8px 0px;
        text-align: center;font-weight: bold;}
    .save_disable{background:#ccc;color: grey;cursor:not-allowed;}
    .errmsg{font-size: 12px;color: red;text-align: center;}
    </style>
    <title>预约</title>
</head>
<body>
<div class="nav hide">
    <span class="left nav_span" onclick="history.back();">返回</span>
    <span class="nav_title">预定预约</span>
    <span class="right nav_span" onclick="location.href='{:U('index/index')}';">首页</span>
</div>

<!-- 编号预约需要代理公司输入公司名称、预定人员、项目名称、预定日期、备注等内容 -->

<div id="listhome4" style="padding-bottom:10px;">
<div class="list">
<div id="oldlist">
<form name="theForm" action="{:U('index/yue_add')}" method="post">
<p><input style="border:0px;" placeholder="请填写预约编号" readonly="readonly" type="text" name="bh" value="{$bh}"/></p>
<p><input placeholder="请填写公司名称" type="text" name="comp_name" /></p>
<p><input placeholder="请填写项目名称" type="text" name="pro_name" /></p>
<!-- <p><input placeholder="请填写预定人员" type="text" name="user_name" /></p> -->
<p><input placeholder="请填写预约账号" type="text" name="bill_id" /></p>
<p><input placeholder="请选择日期" type="text" readonly="readonly" name="yue_date" value="<?php echo date('Y-m-d',time()); ?>"/></p>
<p><input type="text" placeholder="请填写项目预算和项目概况" name="remark" /></p>
<p style="text-align:center;">
    <div class="errmsg"></div>
    <a href="javascript:;" class="a_btn save_btn save">提交预约</a>
    <br>
    <a href="{:U('index/yue_his')}" class="a_btn save_disable" style="background:rgb(221,81,69);color:#fff;">预约情况</a>
</p>
  
</form>
</div>
</div>
</div>
 
<script src="__STATIC__/jquery-1.5.1.js"></script>
<script src="__PUBLIC__/stringUtil.js"></script>
<script type="text/javascript">
    var flag = 1;
     
    $(function(){
        $(".save").live('click', function(event) {
 
            var valid = true;
            var is_dest = true;
            var is_yue  = false;
 
            $(".errmsg").html('');
            var bh=$("input[name=bh]").val(),
                comp_name=$("input[name=comp_name]").val(),
                // user_name=$("input[name=user_name]").val(),
                bill_id=$("input[name=bill_id]").val(),
                pro_name=$("input[name=pro_name]").val(),                                
                date=$("input[name=yue_date]").val(),
                e = $(this);

                if(bh.isEmpty()){
                    $("input[name=bh]").val('').attr('placeholder','预约编号必须填写');
                    valid=false;
                }

                if(comp_name.isEmpty()){
                    $("input[name=comp_name]").val('').attr('placeholder','公司名称必须填写');
                    valid=false;
                }

                // if(user_name.isEmpty()){
                //     $("input[name=user_name]").val('').attr('placeholder','预定人员必须填写');
                //     valid=false;
                // }
                // if(user_name.getByteLength()>1000){
                //     $("input[name=user_name]").val('').attr('placeholder','预定人员填写过长');
                //     valid=false;
                // }
                
                if(bill_id.isEmpty()){
                    $("input[name=bill_id]").val('').attr('placeholder','预约账号必须填写');
                    valid=false;
                }
 
                // if(!bill_id.isEmpty() && !bill_id.isMobilePhone()){
                //     $("input[name=bill_id]").val('').attr('placeholder','手机号格式错误');
                //     valid=false;
                // }

                if(pro_name.isEmpty()){
                    $("input[name=pro_name]").val('').attr('placeholder','项目名称必须填写');
                    valid=false;
                }

                if(date.isEmpty()){
                    $(".errmsg").html('日期必须选择');
                    valid=false;
                }
                if(is_yue){
                    $('.errmsg').html(date+' 日您已经申请预约');
                    valid=false;
                }
                if(valid==true && is_dest==true ){
                    e.addClass('save_disable').removeClass('save').text('正在提交预约');
                    setTimeout(addSave,5000);
                    $.ajax({
                        url:"{:U('index/yue_bdd')}",
                        type:'post',
                        datatype:'json',
                        data:$("form:eq(0)").serialize(),
                        success:function(re){
                            if(re.flag){
                                alert(re.msg);
                                location.reload();
                            }else{
                                $('.errmsg').html(re.msg);
                            }
                        },
                        error:function(){
                            $(".errmsg").html('预约失败');
                            addSave();
                        }
                    });
                }
        });
    });
 
    addSave = function(){
        $(".save_btn").addClass('save').removeClass('save_disable').text('提交预约');
    }
</script>
</body>
</html